 
 /**
  * Establish font settings
  * @with mixin "font-settings" in vendors/functions+
  */ 

 @include font-settings();



  /* ------------------------------------- */




 /**
  * Headings
  *
  */
 
 h1{
 }
 




 /**
  * Paragraph
  *
  */
 
 p{
 }
 
 /* ------------------------------------- */
