/**
 * Default component style
 *
 */

.Default{
    display: flex;
    min-height: 100vh;
    background: $default-backgroundColor;

    &_content{
        margin: auto;
        font-size: 1.75rem;
        text-transform: uppercase;
        color: $default-fontColor;
    }
}
