
 /**
  * Starter Component Style
  *
  */ 

 .Starter{
     text-align: center;  
     margin-top: rem(90px);
     
     &__title{
         margin-bottom: rem(20px); 
         line-height: rem(50px);
     }
 }

 /* ------------------------------------- */